@import "tailwindcss";

html,body{
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6
}


@layer utilities {
  @keyframe loading {
    0% {
      transform: tranlateX(-100%);  
    }
    100% {
      transform: tranlateX(250%);
    }
  }

  .animated-loading-bar {
    aimation: loading 0.08s ease infinite;
  }
}